<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="newstyle.css">
	<title>Test home page</title>
</head>
<body style="text-align: center">
<div class="background-filter"> <!-- Gives the background a whitewash effect -->
	<div class="container">
		
			<div class="navbar">
				<ul style="float: left">					
					<li><a><img height="50px" width="50px" src="p-logo.png"></a></li>
				</ul>
				<ul>					
					<li><a href="/auth/profile">Account</a></li>
					<li><a href="test-contact.html">Contact</a></li>
					<li><a href='/login'>Login</a></li>
					<li><a href="auth/logout">Logout</a></li>
				</ul>
			</div>
			<div id="intro-box">
				<h1>ParkHouser</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<form action="#about-section">
					<input type="submit" value="Learn More">
				</form>
			</div>
			<div id="signup-box">
				<h1>Sign Up</h1>
				<form name="sign-up-form" action="/auth/usersignup" method="post">
					<input type="email" name="signup_email" placeholder="email" id='signup_email'>
					<input type="text" name="signup_username" placeholder="username" id="signup_username">
					<input type="password" name="signup_password" placeholder="password" id="signup_password">
					<input type="submit" value="Sign Up">
				</form>
			</div>
		
	</div>
	<div class="container" name="about" id="about-section">
		<h1>About ParkHouser</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices risus vel est rutrum interdum. In varius pharetra urna in tincidunt. Vestibulum posuere convallis tristique. Sed at molestie nisi. Sed accumsan, mi in dictum egestas, dolor ipsum commodo turpis, et elementum felis arcu ac neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Nulla malesuada id nibh non interdum. Ut purus ante, venenatis eget quam ac, tincidunt finibus felis. Integer vel ligula eros.</p>
		
		<div class="city-div" id="houston-id"><div class="background-filter" style="height: 100%"><span>Houston</span></div></div>
		<div class="city-div" id="chicago-id"><div class="background-filter" style="height: 100%"><span>Chicago</span></div></div>
		<div class="city-div" id="san-francisco-id"><div class="background-filter" style="height: 100%"><span>San Francisco</span></div></div>
		<div class="city-div" id="louisville-id"><div class="background-filter" style="height: 100%"><span>Louisville</span></div></div>
		<div class="city-div" id="new-york-id"><div class="background-filter" style="height: 100%"><span>New York</span></div></div>
	</div>
	<div class="footer">
		<span>Owner of this site: mars381pika@gmail.com</span>
	</div>
</div>
</body>
</html>