<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2qXs7GqgjX55uoSszcXy6WQkm9bW0n1Y&callback=initMap"></script>
  <link rel="stylesheet" href="/page-styles.css">
 
	<title>Find a Parking location</title>
</head>

<body onLoad="load()">

  <!-- navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
        
        <a class="btn btn-navbar navbar-left" data-toggle="collapse" data-target=".nav-collapse">
            <div class="col-md-12 icon-bar"></div>
            <div class="col-md-12 icon-bar"></div>
            <div class="col-md-12 icon-bar"></div>
            <div class="col-md-12 icon-bar"></div>
        </a>
        <div class="collapse navbar-collapse nav-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href='/'>Home</a></li>
              <li><a href='/auth/profile'>Profile</a></li>
              <li><a href='/login'>Login</a></li>
              <li><a href='/auth/logout'>Logout</a></li>
          </ul> 
        </div>

    </div>
  </nav>

  <div class="container-fluid">
    <div class="row search-bar">
        <div class="col-md-1 col-sm-2 col-xs-2 toggle-btn" style=" padding-right: 0"><input class="btn btn-sm" id="toggle-btn" type="button" value="List" style="color: white; font-size: 18px;"></input></div>
        <div id="placeholder-div" class="col-md-1"></div>
        <div class="col-md-9 col-sm-8 col-xs-8" style=" padding-left: 1%; padding-right: 1%">
          <input id="address" type="textbox" placeholder="Please enter your destination."></input>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left: 0" >
          <input class="btn btn-sm" id="submit" type="button" value="Search"></input>
        </div>
    </div><!--

  --><div id="mapAndResultsDiv" class="row">

      <div class="col-md-4 col-sm-12" id="search-div"> <!-- outer search results div -->
        <div id="locater-div"> <!-- inner search results div -->
          <div id="search-results" >
            <ul id="list">
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-12" id="map">
      </div>
     
    </div>

  </div><!-- container-fluid div -->
  
<script src="/parkDataScript.js"></script>  
</body>
</html>