<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/page-styles.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2qXs7GqgjX55uoSszcXy6WQkm9bW0n1Y&callback=initMap"></script>
 
	<title>Find a Parking location</title>
</head>

<body onLoad="load()">
  <div class="container-fluid background2">

  <!-- navbar -->
    <div class="navbar navbar-inverse row" style="margin-bottom: 0">
    <h1 style="color: white; float: left;">Spot Finder</h1>
    <ul class="nav navbar-nav" style="float:right; margin: .5%;">         
      <div class="dropdown" >
        <button id="dLabel" type="button" class="btn btn-default btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-nav" aria-hidden="true" ></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel" >
          <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/auth/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          </ul>
      </div>        
    </ul>   
  </div>

    <div class="row search-bar">
        <div class="col-md-10 col-sm-12">
          <input id="address" type="textbox" placeholder="Please enter your destination."></input>
        </div>
        <div class="col-md-2 col-sm-12" >
          <input class="btn btn-sm" id="submit" type="button" value="Search"></input>
        </div>      
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12" id="search-div">
        <div id="locater-div">
          <div id="search-results">
            <ul id="list">
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-12" id="map">
      </div>
    </div>

  </div><!-- background div -->
  
<script src="/parkDataScript.js"></script>  
</body>
</html>