body{
	margin: 0;
	font-size: 18px;
	letter-spacing: 0.07em;
	font-family: 'Open Sans', 'Sans Serif';
	background:url('new-parking2.jpg');
	background-size: cover;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #0b2a5e;
}

/* gives the background image a whitewash effect */
.background-filter{
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 100%;
}

/* navbar */
.navbar{
	height: 80px;
	width: 100%;
	display: block;
}
/*right menu for navigation */
.navbar > .menu-list{
	float: right;
	list-style: none;
	margin: 15px 15px 0 0;
	font-size: 22px;
}
/* left searchbar */
.navbar > .search-list > form{
	float:left;
	display: inline-block;
}
.navbar > .search-list{
	list-style: none;
	margin: 15px 15px 0 0;
	font-size: 22px;
}
.navbar > ul > li{
	float: left;
	margin-right: 15px;
}
.navbar > ul > form > li > input[type="textbox"]{
	margin-top: 0;
	margin-left: 10px;
	width: 95%;
	background-color: transparent;
	border: 1px solid #0b2a5e;
	display: inline-block;
	float: left;
}
.navbar > ul > form > li > input[type="submit"]{
	width: 85px;
	height: 45px;
	margin-top: 0;
	margin-left: 5px;
	display: inline-block;
}

/* CONTAINERS */
/* container div on first page that contains the navbar, learn more div, and the sign up div. Limited height */
.container{
	height: 600px;
	width: 99%;
	display: inline-block;
}
.full-page-container{
height: 100%;
width: 100%;
}

/* intro and sign-up divs */
#intro-box, #signup-box{
	height: 65%;
	margin: 0 2px 2px 2px;
	text-align: left;
	display:inline-block;
	vertical-align: top; /* solves issue of content 'weighing' down the boxes */
	padding: 50px 20px 50px 20px;
}

#intro-box{
	width: 50%;
}
#signup-box{
	width: 33%;
	background: none; /* This is to prevent the div:nth-child(3) to override with an image */
}

/* intro box */
#intro-box{
	font-size: 22px;
}
#intro-box > form > input[type="submit"]{
	width: 150px;
}

/* sign up box */

input, textarea{
	border-radius: 7px;
	border: 1px solid #dedede;
	text-indent: 10px;
	width: 90%;
	height: 40px;
	margin-top:15px;
	font-size: 18px;
}
input[type="button"], input[type="submit"]{
	width: 91%;
	background-color: #266ee2;
	border: none;
	color: white;
}

/* about section on home page */
#about-section{
	width: 92%;
	height: 600px;
	background-color: white;
	padding: 30px 4% 0 4%;
	display: block;
	color: black;
	font-size: 22px;
}

/* divs that hold city images */
.city-div{
	margin-top: 50px; 
	height: 90px;
	width: 230px;
	display: inline-block;
	vertical-align: top;
	border-radius: 2px;
}
.city-div > img{
	max-height: 100%;
	max-width: 100%;
}

/* Each city-div is given the background of an image, and then pinpointed on a particular sprite in the div */
#houston-id{
	background: url('houston.jpg') -320px -870px;
}

#chicago-id{
	background: url('chicago.jpg') -320px -1000px;
}

#san-francisco-id{
	background: url('san-francisco.jpg') -150px -270px;
}

#louisville-id{
	background: url('louisville.jpg') -240px -350px;
}

#new-york-id{
	background: url('new-york.jpg') -80px -820px;
}

.city-div > .background-filter{
	background-color: rgba(255, 255, 255, 0.4);
}

/* text inside boxes */
span{
	color: black;
	display: block;
	padding: 20px 0 20px 0;
	font-weight: bold;
}

/* ACCOUNT PAGE */
.account-div{
	padding-top: 100px;
	height: 300px;
	width: 65%;
	margin: 0 auto;
}

.picture, #info{
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
.picture{
	width: 39%;
}
.picture > img{
	height: 100%;
	width: 100%;
}
#info{
	width: 52%;
	padding-left: 70px;
	background: none;
	background-color: rgba(128,128,128, 0.8);
}

/* LOGIN PAGE and CONTACT PAGE */
#login-box, #contact-box{
	height: 250px;
	width: 400px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 50px;
}

/* footer at bottom of home page */
.footer{
	background: none;
	height: 80px;
	width: 100%;
	background: grey;

}

/* CONTACT page */
textarea{
	max-width: 90%;
	max-height: 100px;
	min-width: 90%;
	min-height: 100px;
	font-family: 'Open Sans', 'Sans Serif'; /* overrides default font for textarea */ 
}

.hidden{
	display: none;
}

/* SEARCH page */
/* div containing search bar, results list, and map. Takes full width and height of screen, except the navbar */

/* contains both map and list of locations */
.search-container{

	width: 100%;	
	height: calc(100% - 80px);
}

.results{
	height: 100%;
	width: 30%;
	display: inline-block;
	vertical-align: top;
	overflow-y: auto;
}
.results > ul{
	padding: 0;
	margin-bottom: 10px;
}
/* box containing each location's information in a list */
.results > ul > li{
	background: rgba(255,255,255,.35);
	border-radius: 5px;
	list-style: none;
	height: 100px;
	padding-left: 10px;
}
/* class for the p and span tags in the list */
.list-text{
	padding: 0;
	margin: 0;
}
.map{
	height: 100%;
	width: 70%;
	background-color: red;
	display: inline-block;

}
/* list element containing the searchbar */
.address-list-item{
	width: 600px;
}

/* MEDIA QUERIES */

@media (max-height: 530px){
	#login-box, #contact-box{
		margin-top: 30px;
	}

}
@media (max-height: 410px){
	#login-box{
		width: 100%;
	}
	#login-box > form{
		width: 90%;
		margin: 0 auto;
	}
	#login-box > form > input{
		width: 300px;
		display: inline-block;
	}
	#login-box > h1, #contact-box > h1{
		text-align: center;
	}
}

@media (max-width: 1340px){
	.address-list-item{
		width: 500px;
	}
}
@media(max-width: 1194px){
	.address-list-item{
		width: 400px;
	}
}
@media(max-width: 1050px){
	.address-list-item{
		width: 800px;
		margin-top: 15px;
	}
}