
.glyphicon-nav {
  width: 18px;
  padding: 8px 0;
  position: relative;
  display: inline-block;
}
.glyphicon-nav:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  top: 0px;
}
.glyphicon-nav:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0px;
  height: 2px;
  width: 100%;
  background: black;
}
li{
  list-style: none;
}
li div{
  background:rgba(0,0,0,.35);
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}
.nav{
  padding: 0;
}
body{
 margin: 0;
}
.background{
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient( rgba(186, 206, 216, 0.65),rgba(186, 206, 216, 0.65)),url('https://www.walldevil.com/wallpapers/a85/backgrounds-wallpapers-cool-scenery-background-city-sea-images-miscellaneous.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.background2{
  height: 100%;
  width: 100%;
  position: absolute;
  background: url('blue-background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-div{
  position: relative;
  margin: 0 auto;
  top: 20%;
  bottom: 20%;
  right: 0;
  left: 0;
  position: absolute;
  background:rgba(0,0,0,.30);
  padding-top: 15px;
}
.no-margin{
  margin:0;
}
.no-padding{
  padding: 0;
}

input[type="text"], input[type="password"]{
  margin-top: 15px;
  margin-bottom: 15px;
}
.login-btn{
  margin-top: 15px;
}
*{
  font-family: Verdana, Tahoma;
  font-size: 20px;
}
h2{
  font-size: 56px;
  text-align: center;
}
#about-div{
  height: 470px;
  padding-top: 5%;
  padding-bottom: 20%;
  background:rgba(0,0,0,.30);
  
}
.box-div{
  height: 430px;
  width: 350px;
  background-color: #394d6d;
  margin: 0 auto;
  top: 20%;
  bottom: 20%;
  left: 0;
  right: 0;
  position: absolute;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);  
}
.wide-box-div{
  background-color: rgba(57, 77, 109, 0.8);
  margin: 0 auto;
  top: 20%;
  bottom: 20%;
  left: 0;
  right: 0;
  position: absolute;
  padding: 3%;
  padding-top:2%;
}
.city-img{
  height: 230px;
  width: 230px;
  margin-top: 5%;
  margin-left:.8%;
  margin-right:.8%;
  display: inline-block;
  position: relative;
  margin-bottom: 5%;
}
.city-img img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  transition: .3s;

}
.city-img :not(img){
  position: absolute;
  top: 20%;
  bottom: 30%;
  color: white;
  z-index: 1;
  text-align: center;
  width: 100%;
  opacity:0;
  transition:.3s;
}
.city-img:hover :not(img){
  opacity: 1;
}
.city-img p{
  font-size: 12px;
  top: 50%;
}
.city-img:hover img{
  filter:blur(2px) brightness(60%);
  box-shadow:0 0 16px cyan;
}
#suggest-div{
  padding-bottom: 15px;
  background-color: white;
}
#contact-div{
  padding-bottom: 15px;
}
/*Map styles */
#search-div{
  padding: 1%;
  background:rgba(0,0,0,.30);
  height: 500px;
  max-height:500px;
  overflow-y: scroll;
}
#map{
  height: 500px;
  padding: 1%;
  background:rgba(0,0,0,.30);
}
@media (max-width: 991px){
  #search-div{
    height: 300px;
  }
}

#locater-div{
  width: 100%;
  height: 500px;
}
.list-objects{
  border: 1px solid black;
  margin: 5px;
  list-style: none;
}
#search-bar{
  background:rgba(0,0,0,.30);
}
#search-bar div{
  margin-top: 1%;
  margin-bottom: 1%;
}
#search-bar input[type="textbox"]{
  width: 100%;
  border-radius: 15px;
}
#search-bar input[type="button"]{
  border-radius: 15px;
  width: 100%;
  font-size: 20px;
}
#search-bar input[type="button"]:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.form-group input[type="text"], input[type="password"], input[type="email"]{
  border-radius: 20px;
}
/*
@media (max-width: 1046px){
  #search-bar input[type="textbox"]{
    width: 80%;
  }
}
@media (max-width: 555px){
  #search-bar input[type="textbox"]{
    width: 50%;
  }
}
*/