html {
  width: 100vw;
  min-height: 100%
}
body {
  overflow: hidden;
}
ul#list {
  padding: 0;
}
.glyphicon-nav {
  width: 18px;
  padding: 8px 0;
  position: relative;
  display: inline-block;
}
.glyphicon-nav:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  top: 0px;
}
.glyphicon-nav:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0px;
  height: 2px;
  width: 100%;
  background: black;
}
.container-fluid{
  padding-right: 0;
  margin-right: 0;
}
.navbar{
  padding-right: 30px;
}
.navbar-search{
  position: relative;
}
.btn-navbar{
  background: white;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
}
.icon-bar{
  background: black;
  height: 7px;
  border-radius: 5px;
  margin-top: 3px;
}
li{
  list-style: none;
}
li div{
  background:rgba(0,0,0,.35);
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}
.nav{
  padding: 0;
}
body{
  left: 0;
  bottom: 0;
  right: 0;
  top:0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient( rgba(186, 206, 216, 0.65),rgba(186, 206, 216, 0.65)),url('https://petercoatesartanddesign.files.wordpress.com/2014/11/first-rate-well-regarded-new-york-city-street-night-hd-wallpaper-humid-nyc-wallpaper-first-rate-well-regarded-new-york-city-street-night-hd.jpg'); 
  background-attachment: fixed;
  background-size: cover;
}
.background{
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient( rgba(186, 206, 216, 0.65),rgba(186, 206, 216, 0.65)),url('https://www.walldevil.com/wallpapers/a85/backgrounds-wallpapers-cool-scenery-background-city-sea-images-miscellaneous.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.background2{
  height: 100%;
  width: 100%;
  position: absolute;
  background: url('blue-background.jpg');
  background-attachment: fixed;
  background-size: cover;

}
.no-margin{
  margin:0;
}
.no-padding{
  padding: 0;
}

input[type="text"], input[type="password"]{
  margin-top: 15px;
  margin-bottom: 15px;
}
.login-btn{
  margin-top: 15px;
}
.custom-btn{
  border-radius: 30px;
  height: 80px;
  font-size: 30px;
  color: black;
  width: 300px;
}
.modal{
  color: black;
}
*{
  font-family: Verdana, Tahoma;

  font-size: 20px;
}
h2{
  font-size: 56px;
  text-align: center;
}
#about-div{
  height: 520px;
  padding-top: 5%;
  padding-bottom: 100px;
  margin-bottom: 50px;
  background:rgba(0,0,0,.50);
  color: white;
}
.box-div{
  height: 430px;
  width: 350px;
  background-color: #394d6d;
  margin: 0 auto;
  top: 170px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);  
}
.city-img{
  height: 230px;
  width: 230px;
  margin-top: 5%;
  margin-left:.8%;
  margin-right:.8%;
  display: inline-block;
  position: relative;
  margin-bottom: 5%;
}
@media (max-width: 1300px){
  .city-img{
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 1135px){
  .city-img{
    height: 170px;
    width: 170px;
  }
}
@media(max-width: 972px){
  .city-img{
    height:140px;
    width:140px;
  }
}
@media(max-width: 808px){
  .city-img{
    height: 230px;
    width: 230px;
  }
}
@media(max-width: 520px){
  .city-img{
    height: 200px;
    width: 200px;
  }
}

.city-img img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  transition: .3s;

}
.city-img :not(img){
  position: absolute;
  top: 20%;
  bottom: 30%;
  color: white;
  z-index: 1;
  text-align: center;
  width: 100%;
  opacity:0;
  transition:.3s;
}
.city-img:hover :not(img){
  opacity: 1;
}
.city-img p{
  font-size: 12px;
  top: 50%;
}
.city-img:hover img{
  filter:blur(2px) brightness(60%);
  box-shadow:0 0 16px cyan;
}
#suggest-div{
  padding-bottom: 15px;
  margin-bottom: 50px;
}
#contact-div{
  padding-bottom: 15px;
  margin-bottom: 50px;
}
/*Map styles */
#search-div{
  padding: 1%;
  background:rgba(0,0,0,.30);
  height: 100%;
  max-height:100%;
  overflow-y: scroll;
}
#mapAndResultsDiv{
      height: calc(100vh - 114.16px);
  width: 100%;
  margin-right: 0;
}
#map{
  height: 100%;
}
@media (max-width: 991px){
  /* When shrinking to 991px width */
  #search-div{
    height: 300px; 
    display: none;
  }
  #placeholder-div{
    display:none;
  }
  .toggle-btn input[type="button"]{
    background: rgba(0, 0, 0, 0.2);
  }

}
@media (min-width: 991px){
  /* When expanding past 991px width */
  .toggle-btn{
    display:none;
  }
}
@media (min-width: 768px){
  .btn-navbar{
    display: none;
  }
}
@media only screen and (max-width: 768px){
  .search-bar{
    margin-top: 25px;
  }
  #address #submit{
    font-size: 2em;
  }
}
.display-none{
  display: none;
}
.display-block{
  display: block;
}
#locater-div{
  height: 100%;
}
.list-objects{
  border: 1px solid black;
  margin: 5px;
  list-style: none;
}
.search-bar{
  background:rgba(0,0,0,.30);
}
.search-bar div{
  margin-top: 65px;
  margin-bottom: 1%;

}
.search-bar input[type="textbox"]{
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  height: 35px;
}

.search-bar input[type="button"]{
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
}
.search-bar input[type="button"]:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.search-btn{
  border-radius: 30px;
  padding-top: 1px;
  height: 40px;
  font-size: 26px;
  color: black;
  width: 300px;
}
.form-group input[type="text"], input[type="password"], input[type="email"]{
  border-radius: 20px;
}
