
<!doctype html>
<!-- SAMPLE TESTING PAGE to ensure public parking url is being accessed correctly -->
<html>
<head>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	this is the sample page
	<h1><%= name %></h1>

</body>
</html>