
<!doctype html>
<!-- SAMPLE TESTING PAGE to ensure public parking url is being accessed correctly -->
<html>
<head>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="list-styles.css">
</head>
<body>
	this is the sample page
	<h1>Parking Houses</h1>	
	<ul>
		<% for(var i=0; i < data.length; i++){ %>
			<li>
				<div>		
					<p><%=data[i].location_name %></p>
					<p><%=data[i].address %></p>
					<p><%=data[i].city %></p>
					<p><%=data[i].state %></p>
				</div>	
			</li>	
		<% } %>
	</ul>

</body>
</html>