<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" href="/page-styles.css">
	<title>My Profile</title>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" >
    	<div class="container-fluid">
    		
    		<a class="btn btn-navbar navbar-left" data-toggle="collapse" data-target=".nav-collapse">
       			<div class="col-md-12 icon-bar"></div>
        		<div class="col-md-12 icon-bar"></div>
        		<div class="col-md-12 icon-bar"></div>
        		<div class="col-md-12 icon-bar"></div>
      		</a>
    		<div class="collapse navbar-collapse nav-collapse">
    			<ul class="nav navbar-nav navbar-right">
    			    <li><a href='/'>Home</a></li>
    			    <li><a href='/auth/profile'>Profile</a></li>
    			    <li><a href='/login'>Login</a></li>
    			    <li><a href='/auth/logout'>Logout</a></li>
    			</ul> 
    		</div>

    	</div>
    </nav>

<div class="container-fluid">

	<div class="search-bar row">
		<form action="/auth/locate">
		<div class="col-md-10 col-sm-12">
			<input type="textbox" id="search-from-profile" placeholder="Your destination">
			</input>
		</div>
		<div class="col-md-2 col-sm-12" >
			<input type="submit" id="profileSearch" class=" btn btn-block custom-btn btn-primary btn-lg" value="Search" onClick="save()">
			</input>
		</div>				
		</form>
	</div>

	<div id="profile-div" class="col-md-4 col-sm-12 box-div row">
			<h2>Profile</h2>
			<p>Username:</p>
			<p><div style="text-align:center"><%= data[0] %></div></p>
			<p>Email:</p>
			<p><div style="text-align:center"><%= data[1] %></div></p>
	</div>
</div>
	<script src="/search-js.js"></script>
</body>
</html>
