<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" href="/page-styles.css">
	<title>My Profile</title>
</head>
<body>
	<div class="container-fluid background2" >
	
		<div class="wide-box-div">
				<h2>Profile</h2>
				<p><span>Username:</span> <%= data %></p>
		</div>
	</div>

</body>
</html>
