<!DOCTYPE html>
<html style="height: 100%; width: 100%;">
<head>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/newstyle.css">
	<title>Account</title>
</head>
<body style="height: 100%; width: 100%;" onload="load()">
	<div class="background-filter"> <!-- Gives the background a whitewash effect -->
		<div class="full-page-container">
			<div class="navbar">				
				<ul class="menu-list">
					<li><a href="/auth/profile">Account</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href='/login'>Login</a></li>
					<li><a href="/auth/logout">Logout</a></li>
				</ul>
				<ul class="search-list">					
					<li ><a href="/"><img height="50px" width="50px" src="/p-logo.png"></a></li>
					<form action="/auth/locate">
						<li style="float:left; display: inline-block;" class="address-list-item" ><input id="address" type="textbox" placeholder="Please Enter Your Destination"></li>
              			<li style="float:left;" ><input id="submit" type="submit"></li>
           			</form>
           		</ul>
			</div>

			<div class="account-div">
				<h1>Account</h1>
				<div class="picture">
					<img src="/profile-pic.png">
				</div><!--
			--><div id="info">
					<p>Username:</p>
					<p><%= data[0] %></p>
					<p>Email:</p>
					<p><%= data[1] %></p>
				</div>
			</div>	
		</div>

	</div>
	<script type="text/javascript" src="/parkDataScript.js"></script>
</body>
</html>