<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/newstyle.css">
	<title>Account</title>
</head>
<body>
	<div class="background-filter"> <!-- Gives the background a whitewash effect -->
		<div class="container" style="height: 657px;">
			<div class="navbar">
				<ul style="float: left">					
					<li><a href="/"><img height="50px" width="50px" src="/p-logo.png"></a></li>
				</ul>
				<ul><li><a href="/auth/profile">Account</a></li>
					<li><a href="test-contact.html">Contact</a></li>
					<li><a href='/login'>Login</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>

			<div class="account-div">
				<h1>Account</h1>
				<div class="picture">
					<img src="/profile-pic.png">
				</div><!--
			--><div id="info">
					<p>Username:</p>
					<p><%= data[0] %></p>
					<p>Email:</p>
					<p><%= data[1] %></p>
				</div>
			</div>	
		</div>

	</div>
</body>
</html>