<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="newstyle.css">
	<title>Test home page</title>
</head>
<body style="text-align: center">

	<div class="container">
		<div class="navbar">
			<ul>
				<li>Login</li>
				<li>FAQ</li>
			</ul>
		</div>
		<div id="intro-box">
			<h1>Spot Finder</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<input type="button" value="Learn More">
		</div>
		<div id="signup-box">
			<h1>Sign Up</h1>
			<form>
				<input type="email" placeholder="email">
				<input type="text" placeholder="username">
				<input type="password" placeholder="password">
				<input type="button" value="Sign Up">
			</form>
		</div>
	</div>
	<div class="container"></div>
</body>
</html>