<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="newstyle.css">
	<title>Search</title>
</head>
<body>
	<div class="background-filter">
		<div class="container" style="height: 657px;">

			<div class="navbar">
		        <ul style="float: left">          
		          <li><a><img height="50px" width="50px" src="p-logo.png"></a></li>
		          <li class="hidden-search"><input type="textbox" placeholder="Please Enter Your Destination"><input type="submit" width="30px"></li>
		        </ul>
		        <ul>          
		          <li><a href="/auth/profile">Account</a></li>
		          <li><a href="/contact">Contact</a></li>
		          <li><a href='/login'>Login</a></li>
		          <li><a href="/auth/logout">Logout</a></li>
		        </ul>
	      	</div>

	      	<div class="search-container">
	      	</div>
		
		</div>
	</div>
</body>
</html>