<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="newstyle.css">
	<title>Test home page</title>
</head>
<body style="text-align: center">
<div class="background-filter"> <!-- Gives the background a whitewash effect -->
	<div class="container">
		
			<div class="navbar">
				<ul>
					<li>Login</li>
					<li>FAQ</li>
				</ul>
			</div>
			<div id="intro-box">
				<h1>Spot Finder</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<input type="button" value="Learn More">
			</div>
			<div id="signup-box">
				<h1>Sign Up</h1>
				<form>
					<input type="email" placeholder="email">
					<input type="text" placeholder="username">
					<input type="password" placeholder="password">
					<input type="button" value="Sign Up">
				</form>
			</div>
		
	</div>
	<div class="container">
		<h1>About Spot Finder</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices risus vel est rutrum interdum. In varius pharetra urna in tincidunt. Vestibulum posuere convallis tristique. Sed at molestie nisi. Sed accumsan, mi in dictum egestas, dolor ipsum commodo turpis, et elementum felis arcu ac neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Nulla malesuada id nibh non interdum. Ut purus ante, venenatis eget quam ac, tincidunt finibus felis. Integer vel ligula eros.</p>
		<div class="city-div"></div>
		<div class="city-div"></div>
		<div class="city-div"></div>
		<div class="city-div"></div>
		<div class="city-div"></div>
	</div>
</div>
</body>
</html>