<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="newstyle.css">
	<title>Login</title>
</head>
<body>
	<div class="background-filter"> <!-- Gives the background a whitewash effect -->
		<div class="container" style="height: 657px;">
			<div class="navbar">
				<ul style="float: left">					
					<li><a href="/"><img height="50px" width="50px" src="p-logo.png"></a></li>
				</ul>
				<ul>
					<li><a href="test-login.html">Login</a></li>
					<li><a href="/auth/profile">Account</a></li>
					<li><a href="test-contact.html">Contact</a></li>
				</ul>
			</div>
			<div id="login-box">
				<h1>Login</h1>
				<form>
					<input type="text" placeholder="username">
					<input type="password" placeholder="password">
					<input type="button" value="Login">
				</form>
			</div>
		</div>
		
	</div>
</body>
</html>