<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="newstyle.css">
	<title>Contact</title>
</head>
<body>
	<div class="background-filter"> <!-- Gives the background a whitewash effect -->
		<div class="container" style="height: 657px;">
			<div class="navbar">
				<ul style="float: left">					
					<li><a href="test-home.html"><img height="50px" width="50px" src="p-logo.png"></a></li>
				</ul>
				<ul>
					<li><a href="test-login.html">Login</a></li>
					<li><a href="test-account.ejs">Account</a></li>
					<li><a href="test-contact.html">Contact</a></li>
				</ul>
			</div>
			<div id="contact-box">
				<h1>Contact</h1>
				<form>
					<input type="text" placeholder="Name">
					<input type="email" placeholder="Email">
					<textarea placeholder="Message"></textarea>
					<input type="button" value="Send">
				</form>
			</div>
		</div>		
	</div>
</body>
</html>