h1, label{
	color: #AEB6BF;
	text-shadow: 2px 2px black;
}
label{
	font-size: 120%;
}
h1{
	text-align: left;
}

input[type="button"]{
	margin-top: 10px;
	border-radius: 5px;
	width: 100px;
	
}
input[type="text"]{
	border-radius: 10px;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
}

.inner-container-about{
	width: 600px;
	margin: auto;
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 400px;
	padding: 30px;
	padding-top: 40px;
}
.inner-container{
	width: 400px;
	margin: auto;
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 400px;
	padding: 30px;
	padding-top: 40px;
}
.main-background{
	width: 100%;
	background-image: url('../car.jpeg');
	margin-top: -20px;
	height: 500px;
}

@media only screen and (max-width: 768px){
	.inner-container{
		margin-top: 40px;
		width: 100%;
	}
	input{
		width: 100%;
	}	
}
