/* Without this styling, map will not show */
#search-results{
	width: 30%;
	height: 100%;
	float: left;
}

#map{
	height: 100%;
	width: 70%;
	float: left;
}
#locater-div{
	width: 100%;
	height: 500px;
}
.list-objects{
	border: 1px solid black;
	margin: 5px;
	list-style: none;
}