*{
	font-family: Verdana;
}
h1, label{
	color: black;
}
.menu-element{
	height: 6px;
	width: 100%;
	background-color: black;
	margin: 5px 0px 0px 0px;
	border-radius: 4px;
}
#menu-button{
	height: 50px;
	width: 60px;
	background-color: transparent;
	border: none;
}
#menu-button:hover{
	border:black;
}
label{
	font-size: 120%;
}
h1{
	text-align: left;
}
select{
	width: 100%;
	height: 30px;
	border-radius: 10px;
	margin-top: 20px;
}
input[type="button"]{
	margin-top: 10px;
	border-radius: 5px;
	width: 100px;
	
}
input[type="text"], input[type="password"]{
	border-radius: 10px;
	display: block;
	height: 40px;
	font-size: 20px;
	margin-bottom: 10px;
}
.suggestion-input{
	width: 100%;
}
#message-id{
	border-radius: 10px;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
}

.inner-container-about{
	width: 600px;
	margin: auto;
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 400px;
	padding: 30px;
	padding-top: 40px;
}
.inner-container{
	width: 600px;
	margin: auto;
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 400px;
	padding: 30px;
	padding-top: 40px;
}
.title-content{
	height: 500px;
	width: 100%;
	margin-top: -20px;
	background-image: url('driving2.jpg');
}
#title-label{
	font-size: 150px;
}
.main-background{ 
	width: 100%;
	
	/* <div class="overlay-background">
  </div> */
	
	height: 500px;
}
.overlay-background{
	margin-top: -20px;
	position: absolute;
	background-color:rgba(255,255,255,0.4); 
	width: 100%;
	height: 500px;
}
.page{
	width: 100%;
	height: 400px;
}
.inner-page{
	height: 100%;
	width: 400px;
}
.featured-cities{
	background-color: #FFDAB9;
	height: 500px;
}
.title{
	text-align: center;
	color: #093c8c;
}
.img-div{
	position: relative;
	height: 300px;
	
	margin: auto;
	width: 200px;
	top: 10%;
	bottom: 10%;
}
.picture{
	position: absolute;
	border-radius: 50%;
	height: 100%;
	transition: .5s ease;
	backface-visibility: hidden;
}
.pic-label{
	margin: 0 auto;

	transition: .5s ease;
	opacity: 0;
	position: absolute;
	border: 2px solid red;
}
.img-div:hover .picture{
	opacity:0.7;
}
.img-div:hover .pic-label{
	opacity: 1;
}
#message-id{
	height: 60px;
}

@media only screen and (max-width: 768px){
	.inner-container{
		margin-top: 40px;
		width: 100%;
	}
	input{
		width: 100%;
	}	
}
#map {
        height: 400px;
        width: 400px;
      }